@import 'exports';

.cart-details__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  padding: var(--spacing-16);
  background-color: var(--color-low-grey);
  border: var(--border-width-1) solid var(--color-black);
  border-radius: var(--border-radius-4);

  @include breakpoint($break-large) {
      order: 1;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.btn--filled {
  &:hover {
    background-color: var(--color-grey);
    color: var(--color-black);
  }
}

