<div class="all-products">
  <h1 class="all-products__h1 font--h1">Todos los productos</h1>
  <div class="all-products__filters">
      <button class="all-products__chip chip--unselected" type="button" data-filter='verdura'>Verdura</button>
      <button class="all-products__chip chip--unselected" type="button" data-filter='fruta'>Fruta</button>
      <button class="all-products__chip chip--unselected" type="button" data-filter='zumo'>Zumo</button>
  </div>
  <div class="all-products__content">
  </div>
</div>
